<h1>Hola! Porfavor confirma el email.</h1>

<p>
    Porfavor, confirma tu correo haciendo click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Este link expirará dentro de {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos!
</p>
