{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Categoría</h1>

    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.descripcion) }}

        <button type="submit" class="btn btn-success">Crear Categoría</button>
    {{ form_end(form) }}
{% endblock %}