{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorías</h1>
    <a href="{{ path('app_add_categoria') }}">Nueva categoría</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <a href="{{ path('app_edit_categoria', {id: categoria.id}) }}">Editar</a>
                        <a href="{{ path('app_delete_categoria', {id: categoria.id}) }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}