{% extends 'base.html.twig' %}

{% block title %}Todos los productos{% endblock %}

{% block body %}
    <style>
        /* Estilos para la lista de productos */
        .productos-lista {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }

        /* Estilos para cada producto */
        .producto {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        .producto img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>

    <h1>Todos los productos</h1>

    <div class="productos-lista">
        {% for producto in productos %}
            <div class="producto">
                <img src="{{ asset('images/' ~ producto.imagen) }}" alt="{{ producto.nombre }}" width="200px">
                <h2>{{ producto.nombre }}</h2>
                <p>Precio: {{ producto.precio }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
