body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.welcome-text {
    text-align: center;
    margin: 50px 0;
}

.buttons {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login {
    background-color: #3498db;
}

.btn-register {
    background-color: #2ecc71;
}
