{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos{% endblock %}

{% block body %}
<h1>Mis Pedidos</h1>

{% for pedido in pedidosConProductos %}
    <h2>Detalles del Pedido</h2>
    <p>ID del Pedido: {{ pedido.pedido.getId() }}</p>
    <!-- Aquí puedes mostrar más detalles del pedido según sea necesario -->

    <h3>Productos en el Pedido</h3>
    <ul>
        {% for producto in pedido.productos %}
            <li>{{ producto.nombre }} - Precio: {{ producto.precio }}</li>
            <!-- Aquí puedes mostrar más detalles del producto según sea necesario -->
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}