{% extends 'base.html' %}

{% block title %}Gestión de pedidos
{% endblock %}

{% block body %}

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg" data-setbg="{{ asset('img/breadcrumb.jpg') }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Gestionar pedidos</h2>
						<div class="breadcrumb__option">
							<span>Administración</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Shoping Cart Section Begin -->
	<section class="shoping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="shoping__cart__table">
						<div class="row">
							<div class="col-lg-12">
							</div>
							<div class="col-lg-6">
								<div class="shoping__continue">
									<div class="shoping__discount">
										<form action="#"></form>
									</div>
								</div>
							</div>
						</div>
						<table>
							<thead>
								<tr>
									<th>Id</th>
									<th>Restaurante</th>
									<th>Fecha</th>
									<th>Estado</th>
                                    <th>Productos</th>
									<th>Total</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for pedido in pedidosConProductos %}

									<tr>
										<td class="shoping__cart__price">
											<h5>{{ pedido.pedido.getId() }}</h5>
										</td>

                                        <td class="shoping__cart__price">
                                            <h5>{{ pedido.pedido.getRestaurante().getNombre() }}</h5>
                                        </td>

										<td class="shoping__cart__price">
											<h5>{{ pedido.pedido.getFecha()|date('d/m/Y') }}</h5>
										</td>

										<td class="shoping__cart__price">
											<h5>{{ pedido.pedido.isEnviado() ? 'Enviado' : 'No enviado' }}</h5>
										</td>

										<td class="shoping__cart__price">
                                            <ul>
                                                {% for producto in pedido.productos %}
												<li style="list-style: none; font-size: small;"><span style="color: green;">{{ producto.unidades }}</span>  {{ producto.nombre }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>

										{% set total = 0 %}
										{% for producto in pedido.productos %}
											{% set total = total + (producto.precio * producto.unidades) %}
										{% endfor %}

										<td class="shoping__cart__price">
											<h5>{{ total }}€</h5>
										</td>

										<td class="shoping__cart__price">
											<a href="{{ path('app_pedido_eliminar', {'id': pedido.pedido.getId()}) }}" style="color: grey;">
												<i class="fa-solid fa-trash"></i>
											</a>
										</td>
										<td class="shoping__cart__price">
											<a href="{{ path('app_pedido_enviar', {'id': pedido.pedido.getId()}) }}" style="color: grey;">
												<button class="site-btn">Marcar como enviado</button>
											</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="6">Sin pedidos</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shoping Cart Section End -->
{% endblock %}
