<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				SuperMart - Home
			{% endblock %}
		</title>

		<!-- Google Font -->
		<link
		href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

		<!-- Css Styles -->
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/elegant-icons.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/nice-select.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

	</head>
	<body>

		<header>
			<!-- Header Section Begin -->
			<header class="header">
				<div class="header__top">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="header__top__left">
									<ul>
										<li>
											<i class="fa fa-envelope"></i>
											supermart@info.com</li>
										<li>Envío gratuito para todos los pedidos de 149€ o más</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="header__top__right">
									<div class="header__top__right__social">
										<a>
											<i class="fa fa-facebook"></i>
										</a>
										<a>
											<i class="fa fa-twitter"></i>
										</a>
										<a>
											<i class="fa fa-linkedin"></i>
										</a>
										<a>
											<i class="fa fa-pinterest-p"></i>
										</a>
									</div>
									{% if app.user %}
										<div class="header__top__right__social">
											<a>
												{{ app.user.userIdentifier }}
											</a>
										</div>
										<div class="header__top__right__auth">
											<a href="{{ path('app_logout') }}">
												<i class="fa fa-user"></i>
												Cerrar sesión</a>
										</div>
									{% else %}
										<div class="header__top__right__auth">
											<a href="{{ path('app_login') }}">
												<i class="fa fa-user"></i>
												Iniciar Sesión</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="header__logo">
								<a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
							</div>
						</div>
						<div class="col-lg-6">
							<nav class="header__menu">
								<ul>
									<li class="active">
										<a href="{{ path('home') }}">Home</a>
									</li>
									<li>
										<a href="{{ path('app_producto_index') }}">Productos</a>
									</li>
									<li>
										<a href="{{ path('home') }}">Categorias</a>
										<ul class="header__menu__dropdown">
											{% for categoria in app.request.attributes.get('categorias') %}
												<li>
													<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}">{{ categoria.nombre }}</a>
												</li>
											{% endfor %}
										</ul>
									</li>
									{% if app.user %}
										{% if is_granted('ROLE_ADMIN') %}
											<li>
												<a href="{{ path('home') }}">Administrador</a>
												<ul class="header__menu__dropdown">
													<li>
														<a href="">Gestionar Restaurantes</a>
													</li>
													<li>
														<a href="{{ path('app_categoria_index') }}">Gestionar Categorias</a>
													</li>
													<li>
														<a href="{{ path('app_producto_manage') }}">Gestionar Productos</a>
													</li>
													<li>
														<a href="">Gestionar Pedidos</a>
													</li>
												</ul>
											</li>
										{% endif %}
									{% endif %}
								</ul>
							</nav>
						</div>
						<div class="col-lg-3">
							<div class="header__cart">
								<ul>
									<li>
										<a href="{{ path('app_carrito') }}">
											<i class="fa fa-shopping-bag"></i>
											<span>{{ app.request.attributes.get('productos_carrito')|length }}</span>
										</a>
									</li>
								</ul>
								<div class="header__cart__price">Total:
									<span>{{ app.request.attributes.get('total_carrito') }}€</span>
								</div>
							</div>
						</div>
					</div>
					<div class="humberger__open">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</header>
			<!-- Header Section End -->
		</header>

		{% block body %}{% endblock %}


		<!-- Footer Section Begin -->
		<footer class="footer spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="footer__about">
							<div class="footer__about__logo">
								<a href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
							</div>
							<ul>
								<li>Dirección: Av. de Francisco Ayala, 18</li>
								<li>Teléfono: 926 52 45 36</li>
								<li>Email: supermart@info.com</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
						<div class="footer__widget">
							<h6>Links de utilidad</h6>
							<ul>
								{% for categoria in app.request.attributes.get('categorias') %}
									<li>
										<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}">{{ categoria.nombre }}</a>
									</li>
								{% endfor %}
							</ul>
							<ul>
								<li><ahref="{{path('home')}}">Home</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="footer__widget">
							<h6>Únete a nuestra newsletter ahora</h6>
							<p>Reciba por correo electrónico información actualizada sobre nuestra tienda y ofertas especiales.</p>
							<form>
								<input type="text" placeholder="Introduce tu email">
								<button class="site-btn">Subscribe</button>
							</form>
							<div class="footer__widget__social">
								<a>
									<i class="fa fa-facebook"></i>
								</a>
								<a>
									<i class="fa fa-instagram"></i>
								</a>
								<a>
									<i class="fa fa-twitter"></i>
								</a>
								<a>
									<i class="fa fa-pinterest"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="footer__copyright">
							<div class="footer__copyright__text">
								<p>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>
										document.write(new Date().getFullYear());
									</script>
									All rights reserved | Made with
									<i class="fa fa-heart" aria-hidden="true"></i>
									by
									<a target="_blank">Raúl G, Pablo L & Pablo M</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
							<div class="footer__copyright__payment"><img src="{{ asset('img/payment-item.png') }}" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer Section End -->

		<!-- Js Plugins -->
		<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
		<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('js/jquery.slicknav.js') }}"></script>
		<script src="{{ asset('js/mixitup.min.js') }}"></script>
		<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
		<script src="https://kit.fontawesome.com/8fd2dbd2a5.js" crossorigin="anonymous"></script>

	</body>
</html>
