<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony Landing Page{% endblock %}</title>
    {# Agrega tus estilos CSS aquí si es necesario #}
</head>
<body>
    <header>
        {% if app.session.get('login') %}
            <p>Correo: {{ app.session.get('login').correo }}</p>
        {% endif %}
        <h1>{% block header %}Bienvenido a Symfony {% endblock %}</h1>
    </header>

    <section>
        {% block content %}{% endblock %}
    </section>

    <body>
        {% block body %}{% endblock %}
    </body>

</body>
</html>