<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony Landing Page{% endblock %}</title>
    {# Agrega tus estilos CSS aquí si es necesario #}
</head>
<body>
    <header>
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <h1>{% block header %}Bienvenido a Symfony {% endblock %}</h1>
    </header>

    <section>
        {% block content %}{% endblock %}
    </section>

    <body>
        {% block body %}{% endblock %}
    </body>

</body>
</html>