{% extends 'base.html' %}

{% block body %}
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i>
							<span>Categorías</span>
						</div>
						<ul class="header__menu__dropdown">
							{% for categoria in app.request.attributes.get('categorias') %}
								<li>
									<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}">{{ categoria.nombre }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
						<div class="hero__text">
							<span>SuperMart</span>
							<h2>Todo
								<br/>Lo Necesario</h2>
							<p>Recogida y entrega gratuitas disponibles</p>
							<a href="{{ path('app_producto_index') }}" class="primary-btn">COMPRA AHORA!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Categories Section Begin -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/cat-1.jpg">
							<h5>
								<a href="#">Fresh Fruit</a>
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/cat-2.jpg">
							<h5>
								<a href="#">Dried Fruit</a>
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/cat-3.jpg">
							<h5>
								<a href="#">Vegetables</a>
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/cat-4.jpg">
							<h5>
								<a href="#">drink fruits</a>
							</h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/cat-5.jpg">
							<h5>
								<a href="#">drink fruits</a>
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Productos</h2>
					</div>
					<div class="featured__controls">

						<ul class="header__menu__dropdown">
							<li class="active" data-filter="*">All</li>
							{% for categoria in app.request.attributes.get('categorias') %}
								<li>
									<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}">{{ categoria.nombre }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row featured__filter">
				<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-2.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-3.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-4.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-5.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-6.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-7.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
					<div class="featured__item">
						<div class="featured__item__pic set-bg" data-setbg="img/featured/feature-8.jpg">
							<ul class="featured__item__pic__hover">
								<li>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-retweet"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Featured Section End -->


	<!-- Latest Product Section Begin -->
	<section class="latest-product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Últimos Productos</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="images/limpiavidrios.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Limpiador de vidrios</h6>
										<span>3.95€</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="images/lavandina.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Lavandina</h6>
										<span>4.95€</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="images/desengrasante_industrial.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Desengrasante industrial</h6>
										<span>8.95€</span>
									</div>
								</a>
							</div>
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-2.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Productos Más Vendidos</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-1.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-2.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-1.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-2.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Review Products</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-1.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-2.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
							<div class="latest-prdouct__slider__item">
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-1.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-2.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
								<a href="#" class="latest-product__item">
									<div class="latest-product__item__pic">
										<img src="img/latest-product/lp-3.jpg" alt="">
									</div>
									<div class="latest-product__item__text">
										<h6>Crab Pool Security</h6>
										<span>$30.00</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Product Section End -->

	<!-- Blog Section Begin -->
	<section class="from-blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title from-blog__title">
						<h2>Desde Nuestro Blog</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/peras.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									May 4,2023</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Las mejores peras frescas</a>
							</h5>
							<p>Disfruta de la exquisitez de nuestras peras frescas, jugosas y dulces, una explosión de sabor natural.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/calabacin.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									Feb 12,2024</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Calabacín orgánico</a>
							</h5>
							<p>Descubre la calidad única de nuestro calabacín orgánico, cultivado para una experiencia única.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/salmon.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									Ago 24,2023</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Filete de salmón</a>
							</h5>
							<p>Fresco, jugoso y lleno de sabor marino para una experiencia culinaria inigualable
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
