{% extends 'base.html' %}

{% block body %}
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i>
							<span>Categorías</span>
						</div>
						<ul class="header__menu__dropdown">
							{% for categoria in app.request.attributes.get('categorias') %}
								<li>
									<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}">{{ categoria.nombre }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
						<div class="hero__text">
							<span>SuperMart</span>
							<h2>Todo
								<br/>Lo Necesario</h2>
							<p>Recogida y entrega gratuitas disponibles</p>
							<a href="{{ path('app_producto_index') }}" class="primary-btn">COMPRA AHORA!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Categories Section Begin -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">
					{% for producto in productos %}
						<div class="col-lg-3">
							<div class="categories__item set-bg" data-setbg="{{ asset('images/' ~ producto.Imagen) }}">
								<h5>
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}">{{ producto.Nombre }}</a>
								</h5>
							</div>
						</div>
					{% else %}
						<p>No se encontraron productos.</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Productos</h2>
					</div>
					<div class="featured__controls">
						<ul class="header__menu__dropdown">
							<li class="active" data-filter="*" style="color: black;">All</li>
							{% for categoria in app.request.attributes.get('categorias') %}
								<li>
									<a href="{{ path('app_categoria_show', { 'id': categoria.id }) }}" style="color: #7fad39;">{{ categoria.nombre }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="row featured__filter">
    		{% for producto in productos %}
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="{{ asset('images/' ~ producto.Imagen) }}">
                    <ul class="product__item__pic__hover">
                        <li>
                            <a href="{{ path('app_carrito_agregar', {'id': producto.id}) }}">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6>
                        <a href="{{ path('app_producto_show', {'id': producto.id}) }}">{{ producto.Nombre }}</a>
                    </h6>
                    <h5>{{ producto.Precio }}€</h5>
                </div>
            </div>
        </div>

        {# Agregar un salto de línea después de cada cuarto producto #}
        {% if loop.index % 4 == 0 %}
            </div>
            <div class="row featured__filter">
        {% endif %}
    {% else %}
        <tr>
            <td colspan="8">No se encontraron registros</td>
        </tr>
    {% endfor %}
</div>

	</section>
	<!-- Featured Section End -->


	<!-- Latest Product Section Begin -->
	<section class="latest-product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Últimos Productos</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(0, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}

							</div>
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(3, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Productos Más Vendidos</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(6, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}
							</div>
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(9, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="latest-product__text">
						<h4>Mejor Valorados</h4>
						<div class="latest-product__slider owl-carousel">
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(18, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}
							</div>
							<div class="latest-prdouct__slider__item">
								{% set productos_limitados = productos|slice(23, 3) %}

								{% for producto in productos_limitados %}
									<a href="{{ path('app_producto_show', {'id': producto.id}) }}" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="{{ asset('images/' ~ producto.Imagen) }}" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{ producto.Nombre }}</h6>
											<span>{{ producto.Precio }}€</span>
										</div>
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Product Section End -->

	<!-- Blog Section Begin -->
	<section class="from-blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title from-blog__title">
						<h2>Desde Nuestro Blog</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/peras.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									May 4,2023</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Las mejores peras frescas</a>
							</h5>
							<p>Disfruta de la exquisitez de nuestras peras frescas, jugosas y dulces, una explosión de sabor natural.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/calabacin.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									Feb 12,2024</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Calabacín orgánico</a>
							</h5>
							<p>Descubre la calidad única de nuestro calabacín orgánico, cultivado para una experiencia única.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="blog__item">
						<div class="blog__item__pic">
							<img src="images/salmon.jpg" alt="">
						</div>
						<div class="blog__item__text">
							<ul>
								<li>
									<i class="fa fa-calendar-o"></i>
									Ago 24,2023</li>
								<li>
									<i class="fa fa-comment-o"></i>
									5</li>
							</ul>
							<h5>
								<a href="#">Filete de salmón</a>
							</h5>
							<p>Fresco, jugoso y lleno de sabor marino para una experiencia culinaria inigualable
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
