{% extends 'base.html' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-1.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-2.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-3.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-4.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-5.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-6.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-7.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-8.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-9.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-10.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-11.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <div class="col-md-3 mb-4">
                <img src="/img/product/product-12.jpg" alt="" class="img-fluid" width="250px">
            </div>
            <!-- Repite este bloque de col-md-3 para cada imagen -->
        </div>
    </div>
{% endblock %}
