{% extends 'base.html.twig' %}

{% block title %}Mi Landing Page Symfony{% endblock %}

{% block header %}¡Descubre nuestro increíble servicio!{% endblock %}

{% block content %}
    <p>Bienvenido a nuestra landing page en Symfony. Descubre lo que tenemos para ofrecer.</p>

    <a href="{{ path('app_restaurante', {'login': 'login'}) }}"><button>Login</button></a>
    <a href="{{ path('app_restaurante', {'registro': 'registro'}) }}"><button>Registro</button></a>
{% endblock %}
